
  <!-- <div class="ae-grid au-xs-ta-center au-mb-4">
    
    <div *ngFor="let persona of infoService.equipo"  class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="persona.url" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
      <p class="ae-u-bolder au-mb-3">{{ persona.subtitulo }}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.frase }}</p>
      <a target="_blank" href="https://twitter.com/{{ persona.twitter }}" class="ae-u-bolder au-underline">{{ persona.twitter }}</a>
    </div>

  </div> -->
  
 
<!-- 
  <div class="container">
   <div *ngFor="let canal of infoService.datosCanales.data; let i=index;" class="row"> 
      <div class="col-sm">          
          {{ canal.availabilityWindowEnd }}  
      </div>
      <div class="col-sm">          
          {{ canal.availabilityWindowStart  }} 
      </div>
      <div class="col-sm">          
          {{ canal.dvbLinkageId }}  
      </div>    
      <div class="col-sm">          
          {{ canal.linearServiceType  }} 
      </div>
      <div class="col-sm">          
          {{ canal.packagedServiceDescription }}  
      </div>
      <div class="col-sm">          
          {{ canal.preventEasInterruption  }} 
      </div>                 
   </div>
  </div>    -->
  
  <!-- <ag-grid-angular 
  style="width: 600px; height: 400px;" 
  class="ag-theme-balham"
  [pagination]="true"
  [enableSorting]="true"
  [enableFilter]="true"
  [masterDetail]="true"
  [detailCellRendererParams]="detailCellRendererParams"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
  [columnDefs]="columnDefs">
  
</ag-grid-angular> -->

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       cla  ss="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} 
      <button *ngIf="column == 'Action'" mat-icon-button>
          <mat-icon >Edit</mat-icon>          
      </button> 
    </td>
  </ng-container>


  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container  matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element; let i=index;" [attr.colspan]="columnsToDisplay.length">
      <div *ngIf="element.linearServiceLocality" class="example-element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">    
         <div ng-show="element.linearServiceLocality" class="example-element-diagram">           
          <div *ngFor="let item of element.linearServiceLocality | keyvalue">
              {{item.value.headendId}}
              {{item.value.logicalChannelNumberMajor}}
              {{item.value.msoServiceId}}                         
              <div *ngIf="item.value.linearTransportIpAbr" >              
                  <div class="nivTres" *ngFor="let IpAbr of item.value.linearTransportIpAbr | keyvalue">                     
                      {{IpAbr.key}}:{{IpAbr.value}}                                         
                  </div>
              </div>
          </div>
         </div>      
        <!-- <div class="example-element-packagedServiceDescription">
          {{element.packagedServiceDescription}}
          <span class="example-element-packagedServiceDescription-attribution"> -- Wikipedia </span>
        </div> -->
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->