
  <!-- <div class="ae-grid au-xs-ta-center au-mb-4">
    
    <div *ngFor="let persona of infoService.equipo"  class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="persona.url" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
      <p class="ae-u-bolder au-mb-3">{{ persona.subtitulo }}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.frase }}</p>
      <a target="_blank" href="https://twitter.com/{{ persona.twitter }}" class="ae-u-bolder au-underline">{{ persona.twitter }}</a>
    </div>

  </div> -->
  
 

  <!-- <div class="container">
   <div *ngFor="let canal of infoService.datosCanales.data; let i=index;" class="row"> 
      <div class="col-sm">          
          {{ canal.availabilityWindowEnd }}  
      </div>
      <div class="col-sm">          
          {{ canal.availabilityWindowStart  }} 
      </div>
      <div class="col-sm">          
          {{ canal.dvbLinkageId }}  
      </div>    
      <div class="col-sm">          
          {{ canal.linearServiceType  }} 
      </div>
      <div class="col-sm">          
          {{ canal.packagedServiceDescription }}  
      </div>
      <div class="col-sm">          
          {{ canal.preventEasInterruption  }} 
      </div>                 
   </div>
  </div>    -->
  
  <!-- <ag-grid-angular 
  style="width: 600px; height: 400px;" 
  class="ag-theme-balham"
  [pagination]="true"
  [enableSorting]="true"
  [enableFilter]="true"
  [masterDetail]="true"
  [detailCellRendererParams]="detailCellRendererParams"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
  [columnDefs]="columnDefs">
  
</ag-grid-angular> -->


